* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.square {
  margin: 0px;
  border: 1px solid #fff;
  background-color: pink;
}

.button-on {
  background-color: #c3f0ca;
  outline: none;
}

.button-off {
  background-color: #f65c78;
  outline: none;
}

input{ 
  outline: none;
}