* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*          HEADER STYLING
 */

 .header {
   color: #3c9d9b;
   margin-top: 15px;
   text-align: center;
 }




/*          MENU STYLING
 */

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 15px auto;
  justify-content: center;
}

.menu button {
  width: 150px;
  height: 40px;
  border: none;
  margin: 5px;
}

.reset {
  background-color: #fff3af;
}

input{ 
  margin: 10px 0 0 0;
  outline: none;
  height: 30px;
  width: 200px;
}

.button-on {
  background-color: #c3f0ca;
  outline: none;
}

.button-off {
  background-color: #f65c78;
  outline: none;
}


/*          CONTAINER & SQUARE STYLING
 */
.container {
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-self: center;
}

.square {
  margin: 0px;
  border: 1px solid #fff;
  background-color: pink;
}